<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case & Charm Co</title>
</head>
<body>
    <h1>Iphone Cases</h1>
    <ul>{% for product, details in cases.items() %}
        <li>{{ product }} - ${{ details['price'] }} (Stock: {{ details['stock'] }})</li>
        {% endfor %}
    </ul> 
    
    <h1>Phone Charms</h1>
    <ul>
        {% for product, details in charms.items() %}
            <li>{{ product }} - ${{ details['price'] }} (Stock: {{ details['stock'] }})</li>
        {% endfor %}
    </ul>
  
</body>
</html>

